body {background-color: #cbdea6; }

h1 {
  color: #7EC2C2;
  text-shadow: 0 0 5px white;
  border-left: solid 7px #7EC2C2;
  background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.container {
  background: #a3cbef;
  width: 1300px;
  display: -webkit-flex;
  display: flex;
}
.main {
  background: #bce9f2;
  display: block;
  width: 900px;
  margin-right: 20px;
}
.sidebar {
  background: #a3cbef;
  width: 400px;
}
.sidebar__item {
  margin-bottom: 20px;
}
.sidebar__item--fixed {
  background: #acddd2;
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}

