body {background-color: #cbdea6; }

.container {
  background: #a3cbef;
  width: 1000px;
  display: -webkit-flex;
  display: flex;
}
.main {
  background: #bce9f2;
  display: block;
  width: 1500px;
  margin-right: 20px;
}
.sidebar {
  background: #a3cbef;
  width: 500px;
}
.sidebar__item {
  margin-bottom: 20px;
}
.sidebar__item--fixed {
  background: #acddd2;
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}

