h1 {
  color: #000000;
  text-shadow: 0 0 5px white;
  border-left: solid 7px #FFC042;
  background: -webkit-repeating-linear-gradient(-45deg, #FFC042, #FFC042 3px,#f7d76b 3px, #f7d76b 7px);
  background: repeating-linear-gradient(-45deg, #FFC042, #FFC042 3px,#f7d76b 3px, #f7d76b 7px);
}

.container {
  background: #cbdea6;
  width: 1400px;
  display: -webkit-flex;
  display: flex;
}
.main {
  background: #b2e2ec;
  display: block;
  width: 1000px;
  margin-right: 20px;
}
.sidebar {
  background: #cbdea6;
  width: 400px;
}
.sidebar__item {
  margin-bottom: 20px;
}
.sidebar__item--fixed {
  background: #879a86;
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}

.bs {
  margin-bottom: 2em;
}

.ss {
  margin-bottom: 0.5em;
}
