h2:first-letter {
  font-size: 2em;
}
h2 {
  line-height: 1.4;/*行高*/
  color: #000000;/*文字色*/
  border-top: dotted 3px gray;
  border-bottom: dotted 3px gray;
}

.container {
  width: 1400px;
  display: -webkit-flex;
  display: flex;
}
.main {
  background: #eef1d9;
  display: block;
  width: 1000px;
  margin-right: 20px;
}
.sidebar {
  background: #cbdea6;
  width: 400px;
}
.sidebar__item {
  margin-bottom: 20px;
}
.sidebar__item--fixed {
  border: 2px solid;
  border-color: #c59200;
  background: #e6d2a3;
  position: sticky;
  margin-bottom: 0;
  top: 10px;
  z-index: 1;
}

.big {
  margin-bottom: 2em;
}

.small {
  margin-bottom: 0.5em;
}
background: #7a7122
